body {
    background-color: beige;
}
#Welcome   {
    background-color: lightblue;
    
    color: lightyellow;
}

header, .menu, form {text-align: center;}

h1, h2 {
    display: inline;
    margin: 20px;
}


li {
    display: inline;
    margin: 10px;
    color: red;
    font-size: 25px;
}

section {
    text-align: center;

}

#SEND {
    background-color: gold;
    color: white;
    font-size: 30px;
    box-sizing: border-box;
    

}
